{
  // Extend existing configuration
  // from ESlint and eslint-plugin-react defaults.
  "extends": [
    "eslint:recommended"
  ],
  // Enable ES6 support. If you want to use custom Babel
  // features, you will need to enable a custom parser
  // as described in a section below.
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    // Disable `no-console` rule
    "no-console": 0,
    "no-underscore-dangle": 0,
    "quotes": 0,
    "no-unused-vars": 1,
    "no-undef": 0,
    "no-extra-semi": 1,
    "no-case-declarations": 0,
  }
}
